@page
@model StudentInformationSystem.Pages.Student.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.EmailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.EmailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDetails.AddressId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDetails.AddressId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StudentDetails.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
